

.contenedor {
    padding-top: 100px;
    padding-bottom: 80px;
}

.fondo {
    background: #36b5b0;;
    border-radius: 10px;
}

.titulo {
    text-align: center;
    color: #22313F;
}

.card {
    background: #298f8b;
    border-radius: 10px;
    text-align: center;
    color: #22313F;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 12px;
    margin-bottom: 10px;
    min-height: 130px;
}

.card-btn {
    margin-top: -14px;
    padding: 10px;
    border-radius: 10px;
    background: #298f8b;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.btn {
    padding-left: 35%;
    padding-right: 35%;
    color: #22313F;
}

.col {
    margin-bottom: 20px;
}