

.contenedor {
    padding-top: 5px;
    padding-bottom: 5px;
}

.lista {
    background: #36b5b0;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.lista-titulo {
    text-align: center;
    color: white;
}

.lista-usuario {
    background: #298f8b;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 300px;
    overflow: auto;
}

.usuario {
    background: white;
    border-color: black;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 8px;
}

.aceptar-usuario {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: -20px;
}

.aceptar-usuario a {
    display: flex;
    justify-content: center;
}


.detalle-container {
    background: #36b5b0;
    color: white;
    margin-top: 10px;
    border-radius: 10px;
    width: auto;
}


.detalle-titulo {
    text-align: center;
}

.detalle-contenido {
    background: #298f8b;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    display: block;
}

.detalle {
    background-color: white;
    color: black;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    padding-left: 30%;
    padding-right: 30%;
    
}

.estado {
    background-color: white;
    color: black;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    padding-left: 35%;
    padding-right: 35%;
}

.detalle-btn {
    padding: 10px;
}

.detalle-btn a {
    border-radius: 10px;
    display: flex;
    justify-content: center;
}