body {
    background: #0a97b0;
    margin:0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background: #36b5b0;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

.sidenav {
    background: #36b5b0;
    text-align: center;
}

.sidenav li a{
    color: #ffffff;
}


.page-footer   {
    background: #80bdab;
    color: white;
    margin-top: 100px;
}

.footer-copyright .container{
    color: white;
}

.opiniones {
    margin-bottom: 0px;
    background: #36b5b0;
}

@media (max-width: 400px) {
   
    .sidenav li a {
       font-size: 20px;
   } 
}